---
BasedOnStyle: Google
AlignAfterOpenBracket: DontAlign
AlignConsecutiveDeclarations: Consecutive
AlignEscapedNewlines: DontAlign
AlignOperands: DontAlign
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Always
AlwaysBreakBeforeMultilineStrings: false
BreakBeforeTernaryOperators: false
BreakConstructorInitializersBeforeComma: true
BreakStringLiterals: false
ColumnLimit: 240
ContinuationIndentWidth: 2
IndentPPDirectives: BeforeHash
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2
ReflowComments: false
SortIncludes: Never
SpacesBeforeTrailingComments: 1
