; Example PlatformIO Project Configuration Override
; ------------------------------------------------------------------------------
; Copy to platformio_override.ini to activate overrides
; ------------------------------------------------------------------------------
; Please visit documentation: https://docs.platformio.org/page/projectconf.html

[env:esp8266_1m_custom]
platform = ${common:esp8266.arduino_core_2_6_3}
build_flags =
  -D PIO_FRAMEWORK_ARDUINO_LWIP_HIGHER_BANDWIDTH
  -Wl,-Teagle.flash.1m.ld  ;;;; Compile with no SPIFFS to leave space for OTA
  ; -D WLED_DISABLE_OTA
  -D WLED_DISABLE_ALEXA
  -D WLED_DISABLE_BLYNK
  -D WLED_DISABLE_CRONIXIE
  -D WLED_DISABLE_HUESYNC
  -D WLED_DISABLE_INFRARED
lib_ignore = ${common:esp8266.lib_ignore}