@font-face {
	font-family: "WIcons";
	src: url(data:font/woff2;charset=utf-8;base64,d09GMgABAAAAAAnUAAsAAAAAE1AAAAmFAAGZmgAAAAAAAAAAAAAAAAAAAAAAAAAABmAAgXwRCAqcYJZIATYCJANwCzoABCAFgwYHIBs7D8iOwzgm3MXMnzZCktnjcbN+QlJLaJ3ulULplpW6UqWioeS91Jye0jUlJwZr5nTdE3LntdPvAg+ft/fbsLsGlNLuhlmQjKi7NPDEIgwTmP//a6mdl+SHUBhEIdHFxak7s4E/yzhJSjC7BQQLfDwopF/i6aqSElEFDXx8ZVWjy3rym4N6FlZQ4hu+nXsGIDMQF3gAxa14AgArtVMhfkgjfEAbiChwuSIwEUCmudPhiQdT6rvIjLSRZEwDhF9BIsooI53TIRIoIUD8kyNZI7UjAyMrR/aM/DwaOpozah9LGCsY2zN2YOzs2L3xqeNp4zXjq8bXT/hMBLj/53YDAIS+7u668n3H+HRPdZd1u3TzdRZdVMTfIl5HfKgd1b7Svqd9W9uprdP8QTOmeaz5TPORJlDDjHVjG0ANMQYsmRrKlmpyqV7kubIQC2GSIkFS+MneCJ48JJFVChQfuwKMp2yU9pmq1VKUR6ret0Gp0SjVYRRF+Xj7+OiUSk/GIzu1miHZWx+g8Y1RUktPmqIitRTXVNzzCtuFPKcH0zRBG+Y9/CnhBa20v5oHfsEUMgXMPEfO5ZcJx0FIPiVywgjb6MIuV+oZ4v2kk6/znIxDKrguM22y+bW8wUGqi7aL8fQJzwnCj8tIppdI9bYDSVJVCQInipW0HbtclcT7vCyLmXaSVrQSNMybaJJBh2PiXrXbgd6AbqecdDTO9EQEIeW0VPWQcdQ8ltPOEu+76q2IxUToJeWpfjQiHHH5AsADLj1bHgQxXsUoHfKYbg+CxCxC69eHcOvWheJ1l6b0nD7jG+bSA1dCZVxmw8ZJ/IYtxPtbJxlpQ/LGjSq00TmdNIZxrGel+y+rZJro+nUh3PrNIGwK6WrXNMV2xTeRWHSjScktLJfe1rc7spyvk3b6V4k48Sr3Am1Pv/QifhsI2uMvc863OiQQRNoedpPfHnSwcete+aDEE67cKzTgBlQgjpjgTDnJtGnX2qbmXJ6FOBLZ7wsr+JZzYnbjdbkCuEfU0HvlwqbtUgJ7zRXFNJsvSxlwz2WYta4xjri/fsulnnFVPyonpP0RL5oVNKkkfElG4csTDNAsgzC38G7gSKVgSZ7m/cEvKALmxKz//u7h6egHF7MrH4jJp/Zx4q32a8T71xnHVRCGlfFZNttd2FcUaay6e9PkhucyR0oPu1z1z/DB+8wixAFdMU1gnmB4xAw68pwHcWjlFrBnXxLjj63UGgvNGVGAJFzxFw+Womn7MAibVbu6leHRB5sc10fLtbrdr/JqV6Yr+ovwFtRHE7M4zG90qNB6YREoo51kFJabq3NeHVKdef/hsMFFSpt5m8XmJqDDAnR0c418mxmxrQzQuyPnspRwfAYkpthzr7gST1xNSf4WtBMM9DQT19uL+gb47gFLP3cT08F8I4dZxJl41Gsx9WHzLBOHzWjRS9NLCOUBCFQ+uGhB/V7ZzUwKESTmDriJ+UecdD/bFXFMLLsjgiAt4pp7ulpxb2tzE8I8xhyHODBK3SGg6QP12BiP3YMw2rDFtWUDXL+esnv3H9QxqfmbDnbMLjGUFpqqZbnWSg0lhWv9wU35qTHqP9zqUrL7kqKj8YjZzg01pb9+yQ8sXZpYxKGiFJTNsIwwpyR44gEOnV/+ennFdHD/2lQ3uS5y1qzIztXUNPE6odYJ0PqUiWJtgKGKMILY60dxeYynbb+sFKKqNn0Wz2rLtMbBQWPnYtmJa4WqFRob/9mmuycQVv7ifCNvXrlhzgDLDvAGA+8H5xjK948cDet+FaXfS+Lko/Wt+vScqarq6kZTbk4NaKqpObkEEpsac9L1rRNXJgPbrWyDdYje6tBQAztkbYC0wDe4UnNipmnZtInu/ujf6Kf7ve112Huf92Ev/7enB/+nP7pbrPiQJZbi0jCSpoN9UNPTkj7JMwpbWgopAbhtbOWkytAF3K+/qo0SASNW2G2bLfnshpB4a9dmz7/Hx//dc3OXNZ46YRyXUV2dYRsD97qKL79qazu+vSI1vPXT7375bWSGocBofD2eIRzJ0cMC0tenwQ0gfvuSdvd14f1uEooLPE3JJHL6uCd/n5n8d35UOKPn6nhr8kyrV3ad3nz2iTiNL414EnefL/JGLlWZtZWaqoEh4xSjvsGb/6m9raFlsLm4uHkQWlv7T/weZzjHHe7xZiUzpJ5WAWBLDNwRKxwRYnFoXGxcaKxN6DR8BNn2o9Nqmmutvra5TnIjXMBlmIFZ3yPYX3Mt9v5mmHuwYvvxPverL9eSvszXNjUXrkbqcGOVW2bEbDGKi3MLVTWzzWHF54Bu/2rA1qko6l9fFgVbBurfVBWFFlVW1ugxOwcs+8W//FcUZJieLl9WXA8eGL5crB7fhOMyxl8bjQWGjB1bW/ok6Ucqensr7F8H7utsmdqoHmz99rvyeE/Pz7u64mvVXLjyY8v8j5XhZeH3aPX75dpiO5eN/OzwcG7zkflt/sd5e7YcqbOowfRg22R5585at2vXX87W1Y0gQ079497eYT1EkyoEqMYABmHd8QvKGrRG6bJYTDCCZYGEWcm5G1jXM2i54Y9WtiBuklP57YtBZMAWlu2fYzDM7Q+5FmxKS3Oz5jwK6IactbWPowuQgNyHluKlaw9wnbOmtuajo/VSw9FrBSRwMcuUV2ZwFhh6s7hsqriWCsgA2s3nFcri4I7O+asxwxZbtLL03E9bhcR6Yz9mIbF0U96K0xGA7bx9y+l2//73j+H2i0EGd27uAVNI/WhCYuWqIDaYxads0lcVFV+dOlHmBx/qO7c6/uZX0tReUtJQv64y3adAvX6xDezAX/8Wm8Cgh/95O9OxsNCYnsXWQ+7pCz8/NMZ57ZAIGEdTw+ap8V+I3NUVe375wiv+lccqj172X7Yw5gJAUQGYPQ6QyxRfgeC+Qc5WnAMCAHFv6TJtet3pn/83b4YCAIBv35ofpTRyt5PjZEwT8KYAEQK8nFgBcE/yUwn2oqHSBKoEG7KZQLMpjo5uha/PI2yuBWOCTSDZajpqQ68+Za18jgGgYMT8nBhjKcFrKCYF6yKSZRLF5tR5YKhUzzNWM52mBvuPMiL7xPx4UaRgFiJZAVFscZ2HUIhUPcEaH5WWDvvmvdPfl5KaCvO8o1+fFCBb6hvuLz8lMROwfjPN8iar90RCCiRCJr3ugqHf6LqgUYYs5hzvu9tMIOUr/xpvRsNVvdZ/p+mB8n7V2Spo0T+aRhPpNhsNFOqxoE2u0suqTipgx58IJA0AAAA=) format('woff');
}

:root {
	--c-1: #111;
	--c-f: #fff;
	--c-2: #222;
	--c-3: #333;
	--c-4: #444;
	--c-5: #555;
	--c-6: #666;
	--c-8: #888;
	--c-b: #bbb;
	--c-c: #ccc;
	--c-e: #eee;
	--c-d: #ddd;
	--c-r: #831;
	--t-b: 0.5;
	--c-o: rgba(34, 34, 34, 0.9);
	--c-tb : rgba(34, 34, 34, var(--t-b));
	--c-tba: rgba(102, 102, 102, var(--t-b));
	--c-tbh: rgba(51, 51, 51, var(--t-b));
	/*following are internal*/
	--th: 70px;
	--tp: 70px;
	--bh: 63px;
	--tbp: 14px 14px 10px 14px;
	--bbp: 9px 0 7px 0;
	--bhd: none;
	--bmt: 0px;
}

html {
	touch-action: manipulation;
}

body {
	margin: 0;
	background-color: var(--c-1);
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 17px;
	color: var(--c-f);
	text-align: center;
	-webkit-touch-callout: none;
		-webkit-user-select: none;
			 -moz-user-select: none;
				-ms-user-select: none;
						user-select: none;
	-webkit-tap-highlight-color: transparent;
  scrollbar-width: 6px;
  scrollbar-color: var(--c-sb) transparent;
}

html,
body {
	height: 100%;
	width: 100%;
	position: fixed;
	overscroll-behavior: none;
}

#bg {
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: -10;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
	transition: opacity 2s;
}

p {
	margin: 10px 0 2px 0;
	color: var(--c-d);
}

button {
	outline: none;
	cursor: pointer;
}

.labels {
	margin: 0;
	padding: 8px 0 2px 0;
}

#namelabel {
	position: fixed;
	bottom: calc(var(--bh) + 6px);
	right: 4px;
	color: var(--c-6);
  cursor: pointer;
	writing-mode: vertical-rl;
}

.bri {
	padding: 4px;
}

.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: var(--c-tb);
	z-index: 1;
}

.icons {
	font-family: 'WIcons';
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	display: inline-block;
	margin: -2px 0 4px 0;
}

.huge {
	font-size: 42px;
}

.infot {
	table-layout: fixed;
	width: 100%;
}

.segt {
	table-layout: fixed;
	width: 76%;
}

.segtd {
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
}

.keytd {
	text-align: left;
	padding-bottom: 8px;
}

.valtd {
	text-align: right;
	padding-bottom: 8px;
}

.slider-icon
{
	transform: translate(6px,3px);
	color: var(--c-d);
}

.e-icon
{
	transform: translateY(3px);
	color: var(--c-d);
}

.sel-icon {
	transform: translateX(3px);
	color: var(--c-d);
}

.edit-icon {
  position: absolute;
  right: -26px;
  top: 10px;
  display: none;
}

.search-icon {
  position: absolute;
  left: 8px;
  top: 10px;
  pointer-events: none;
}

.search-cancel-icon {
  position: absolute;
  right: 8px;
  top: 9px;
  cursor: pointer;
  display: none;
}

.flr {
	float: right;
	cursor: pointer;
	margin: 0;
	color: var(--c-f);
	transform: rotate(0deg);
	transition: transform 0.3s;
}

.exp {
	transform: rotate(180deg);
}

.il {
	display: inline-block;
	vertical-align: middle;
}

#liveview {
	height: 4px;
	display: none;
	width: 100%;
	border: 0px;
}

.tab {
	background-color: transparent;
	color: var(--c-d);
}

.bot {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--c-tb);
}

.tab button {
	background-color: transparent;
	float: left;
	border: none;
	transition: color 0.3s, background-color 0.3s;
	font-size: 17px;
	color: var(--c-c);
}

.top button {
	padding: var(--tbp);
}

.bot button {
	padding: var(--bbp);
	width:25%;
}

.tab button:hover {
	background-color: var(--c-tbh);
	color: var(--c-e);
}

.tab button.active {
	background-color: var(--c-tba) !important;
	color: var(--c-f);
}

.active {
	background-color: var(--c-6) !important;
	color: var(--c-f);
}

.container {
	--n: 1;
	width: 100%;
	width: calc(var(--n)*100%);
	height: calc(100% - var(--tp) - var(--bh));
	margin-top: var(--tp);
	transform: translate(calc(var(--i, 0)/var(--n)*-100%));
	overscroll-behavior: none;
}

.tabcontent {
	float: left;
	position: relative;
	width: 100%;
	width: calc(100%/var(--n));
	padding: 11px 0;
	box-sizing: border-box;
	border: 0px;
	overflow: auto;
	height: 100%;
	overscroll-behavior: none;
}

#Effects {
	padding-top: 0;
	margin-top: 11px;
	height: calc(100% - 11px);
  -webkit-overflow-scrolling: touch;
}

.smooth { transition: transform	calc(var(--f, 1)*.5s) ease-out }

.tab-label {
	margin: 0 0 -5px 0;
	padding-bottom: 4px;
}

.overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: var(--c-3);
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 11;
	opacity: 0.95;
	transition: 0.7s;
	pointer-events: none;
}

.staytop {
	display: block;
	position: -webkit-sticky;
	position: sticky;
	background: var(--c-1);
	top: -1px;
	z-index: 1;
	margin-top: 1px;
	width: 272px;
	margin: auto;
	border-radius: 25px;
}

#staytop1 {
	top: 28px;
}

#fxb0 {
	margin-bottom: 2px;
  filter: drop-shadow(0 0 1px #000);
}

.first {
	margin-top: 10px;
}

#toast {
	opacity: 0;
	background-color: var(--c-5);
	max-width: 90%;
	color: var(--c-f);
	text-align: center;
	border-radius: 5px;
	padding: 16px;
	position: fixed;
	z-index: 5;
	left: 50%;
	transform: translateX(-50%);
	bottom: calc(var(--bh) + 22px);
	font-size: 17px;
	pointer-events: none;
}

#toast.show {
	opacity: 1;
	animation: fadein 0.5s, fadein 0.5s 2.5s reverse;
}

#toast.error {
	opacity: 1;
	background-color: #b21;
	animation: fadein 0.5s;
}

.modal {
	position:fixed;
	left: 0px;
	bottom: 0px;
	right: 0px;
	top: calc(var(--th) - 1px);
	background-color: var(--c-o);
	transform: translateY(100%);
	transition: transform 0.4s;
	padding: 8px;
	font-size: 20px;
	overflow: auto;
}

#info {
	z-index: 3;
}

#rover, #nodes {
	z-index: 2;
}

#ndlt {
  margin: 12px 0;
}

.valtd i {
	font-size: 14px;
}

#roverstar {
	position: fixed;
	top: calc(var(--th) + 5px);
	left: 1px;
	display: none;
	cursor: pointer;
}

#connind {
	position: fixed;
	bottom: calc(var(--bh) + 5px);
	left: 4px;
	padding: 5px;
	border-radius: 5px;
	background-color: #a90;
	z-index: -2;
}

#imgw {
	display: inline-block;
	margin: 8px;
}

#kv, #kn {
	max-width: 490px;
	display: inline-block;
}

#kn td {
  padding-bottom: 12px;
}

#lv {
	max-width: 600px;
	display: inline-block;
}

#heart {
	transition: color 0.9s;
	font-size: 16px;
	color: #f00;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.wi {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	width: 210px;
}

@keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: calc(var(--bh) + 22px); opacity: 1;}
}

.sliderdisplay {
	content:'';
	position: absolute;
	top: 13px; bottom: 13px;
	left: 10px; right: 10px;
	background: var(--c-4);
	border-radius: 17px;
	pointer-events: none;
	z-index: -1;
}

.sliderbubble {
    width: 36px;
    line-height: 24px;
    background: var(--c-3);
    position: absolute;
    transform: translateX(-50%);
    border-radius: 12px;
    margin-left: 12px;
    margin-top: 3px;
    padding: 0px;
    display: inline;
}

.hidden {
	display: none;
}

input[type=range] {
	-webkit-appearance: none;
	width: 220px;
	padding: 0px;
	margin: 0px 10px 0px 10px;
	background-color: transparent;
	cursor: pointer;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 30px;
	cursor: pointer;
	background: transparent;
}
input[type=range]::-webkit-slider-thumb {
	height: 16px;
	width: 16px;
	border-radius: 17px;
	background: var(--c-f);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: 7px;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 30px;
	background-color: rgba(0, 0, 0, 0);
}
input[type=range]::-moz-range-thumb {
	border: 0px solid rgba(0, 0, 0, 0);
	height: 16px;
	width: 16px;
	border-radius: 17px;
	background: var(--c-f);
	transform: translateY(7px);
}
input[type=range]:active + .sliderbubble {
	display: inline;
	transform: translateX(-50%);
}

#wwrap {
	display: none;
}

.sliderwrap {
	height: 30px;
	width: 240px;
	position: relative;
}

.sbs {
	margin: 0px -20px 5px -6px;
}

.sws {
	width: 230px;
}

.sis {
	width: 214px !important;
}

.hd {
	display: var(--bhd);
}

#briwrap {
	float: right;
	margin-top: var(--bmt);
}

#picker {
	margin: 10px auto;
	width: 260px;
}

#rgbwrap {
	display: none;
}

.btn {
	padding: 8px;
	margin: 10px;
	width: 230px;
	font-size: 19px;
	background-color: var(--c-3);
	color: var(--c-f);
  cursor: pointer;
	border: 0px solid white;
	border-radius: 25px;
	transition-duration: 0.5s;
	-webkit-backface-visibility: hidden;
	-webkit-transform:translate3d(0,0,0);
}

.btn-s {
	width: 276px;
	background-color: var(--c-2);
}
.btn-i {
	padding-bottom: 4px;
}
.btn-icon {
	margin: 0px 8px 4px 0;
	vertical-align: middle;
}
.btna-icon {
	margin: 0px;
}
.btn-p {
	width: 216px;
}
.btn-xs {
  width: 39px;
	margin: 2px 0 0 0;
}
.btn-pl-add {
	margin-left: 9px;
}


#qcs-w {
	margin-top: 10px;
}
.qcs {
	padding: 14px;
	margin: 2px;
	border-radius: 14px;
	display: inline-block;
}
.qcsb {
	padding: 13px;
	border: 1px solid var(--c-f);
}
#hexw {
	margin-top: 5px;
	display: none;
}
#tt {
  text-align: center;
}

.cl {
	width: 42px;
}

.sel-pl {
  width: 192px;
  background-position: 168px 16px;
  margin: 8px 7px 0 0;
}

.sel-ple {
	width: 216px;
  background-position: 192px 16px;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='white'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
	background-size: 12px;
	background-position: 206px 16px;
	padding-left: 12px !important;
	background-repeat: no-repeat;
	outline: none;
}
select:-moz-focusring {
	transition-duration: 0s;
	color: transparent;
	text-shadow: 0 0 0 #fff;
}
option {
	background-color: var(--c-3);
	color: var(--c-f);
}

input[type=number], input[type=text] {
	background: var(--c-3);
	color: var(--c-f);
	border: 0px solid white;
	border-radius: 25px;
	padding: 8px;
	margin: 6px 6px 6px 0;
	font-size: 19px;
	transition: background-color 0.2s;
	outline: none;
	width: 50px;
	-webkit-appearance: textfield;
		 -moz-appearance: textfield;
					appearance: textfield;
}

textarea {
	background: var(--c-2);
	color: var(--c-f);
	width: 236px;
	height: 90px;
	border-radius: 5px;
	border: 2px solid #555;
	outline: none;
	resize: none;
	font-size: 19px;
}

::selection {
  background: var(--c-b);
}

input[type=text] {
	width: 100px;
	text-align: center;
}

.ptxt {
	width: 200px !important;
	margin: 26px 0 6px 12px !important;
}

.stxt {
  display: none;
	margin-top: 6px !important;
}

.qltxt {
	width: 50px !important;
}

input[type=number]:focus, input[type=text]:focus {
	background: var(--c-6);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.pln {
	width: 67px !important;
	margin: 0 2px 8px 0 !important;
	text-align: center;
}
.plnl {
	width: 86px;
	margin: 0 2px 0 0;
	display: inline-block;
}
.pli {
	width: 38px;
	margin: 0 0 0 29px;
	display: inline-block;
}

.segn {
  border-radius: 5px !important;
	margin: 3px 0 6px 0 !important;
}

.segname {
	position: absolute;
	top: 0px;
	left: 50%;
	padding: 9px 0;
	transform: translateX(-50%);
	white-space: nowrap;
	cursor: pointer;
}

.segntxt {
  max-width: 160px;
  overflow: hidden;
  text-overflow: clip;
}

.pname {
	width: 208px;
	padding: 8px 0;
	text-align: center;
	overflow: hidden;
	text-overflow: clip;
}

.pid {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 11px 0px 0px 11px;
  font-size: 16px;
  width: 20px;
  text-align: center;
	color: var(--c-b);
}

.newseg {
	cursor: default;
}

.ic {
	padding: 6px 0 0 0;
}

.xxs {
	width: 40px;
	margin: 6px;
}

.psts {
	background-color: var(--c-3);
	color: var(--c-f);
	cursor: pointer;
	padding: 2px 0 0 0;
	height: 40px;
}

.cnf {
	color: var(--c-f);
	cursor: pointer;
	background: var(--c-3);
	border-radius: 5px;
}

.cnf-s {
	position: absolute;
	bottom: 100px;
	right: 23px;
	padding: 7px 22px;
}

.pwr {
	color: var(--c-6);
	transform: translate(2px, 3px);
	cursor: pointer;
}

.act {
	color: var(--c-f);
}

.half {
	padding: 7.5px;
	bottom: 35px;
}

.del {
	position: absolute;
	bottom: 8px;
	right: 8px;
	color: var(--c-f);
	cursor: pointer;
}

.check, .radio {
	display: inline-block;
	position: relative;
	padding-bottom: 32px;
	margin-bottom: 14px;
	cursor: pointer;
	text-align: center;
}

.schkl {
	padding: 2px 5px 0px 35px;
	margin: 0 0 0 2px;
}

.revchkl {
	padding: 2px 0px 0px 35px;
	margin-bottom: 0px;
	margin-top: 8px;
}

.fxchkl {
  position: absolute;
  top: 0px;
  left: 8px;
}

.check input, .radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark, .radiomark {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: var(--c-3);
	border-radius: 10px;
}

.radiomark {
	height: 24px;
	width: 24px;
	border-radius: 50%;
  background-color: transparent;
}

.schk {
	top: 0;
}

.psv {
	left: initial;
	bottom: initial;
	top: 0;
	right: 0;
}

.psvl {
	padding: 2px 35px 10px 0px;
	margin-top: 10px;
	margin-bottom: 0px;
}


.check:hover input ~ .checkmark {
	background-color: var(--c-4);
}

.check input:checked ~ .checkmark {
	background-color: var(--c-6);
}

.checkmark:after, .radiomark:after {
	content: "";
	position: absolute;
	display: none;
}

.check input:checked ~ .checkmark:after, .radio input:checked ~ .radiomark:after {
	display: block;
}

.check .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid var(--c-f);
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.radio .radiomark:after {
	width: 12px;
	height: 12px;
	top: 50%;
	left: 50%;
	margin: -6px;
	border-radius: 50%;
	background: var(--c-f);
}

.h {
	font-size: 13px;
	text-align: center;
	color: var(--c-b);
}

.bp {
	margin-bottom: 5px;
}

.seg {
	position: relative;
	display: inline-block;
	padding: 8px;
	margin: 10px;
	width: 260px;
	font-size: 19px;
	background-color: var(--c-2);
	color: var(--c-f);
	border: 0px solid white;
	border-radius: 20px;
	text-align: left;
	transition: background-color 0.5s;
  	filter: brightness(1);
}

.list {
	position: relative;
	transition: background-color 0.5s;
  margin: auto auto 10px;
  padding-bottom: 10px;
  width: 230px;
}

.lstI {
  position: sticky;
  overflow: hidden;
}

.fxbtn {
  margin: 20px auto;
  padding: 8px 0;
}

.lstI:hover {
    background: var(--c-4);
}

.lstI:last-child {
	border: none;
}

.lstI.sticky, .lstI.selected {
	z-index: 1;
}

#pallist .lstI.selected {
	top: 27px;
	bottom: -11px;
}

#pallist .lstI.sticky {
	top: -11px;
}

.lstI.selected {
	background: var(--c-5);
	top: 95px;
  bottom: -11px;
}

.lstI.sticky {
	top: 57px;
}

.lstIname {
	margin: 3px 0;
	white-space: nowrap;
	cursor: pointer;
  font-size: 19px;
}

.lstIprev {
	width: 220px;
	height: 5px;
	margin: auto;
  position: absolute;
  bottom: 0px;
  left: 5px;
}

input[type="text"].search {
	display: block;
	width: 230px;
	box-sizing: border-box;
  padding: 8px 8px 9px 38px;
  margin: 6px auto 0 auto;
	text-align: left;
  background-color: var(--c-3);
}

input[type="text"].search:focus {
	background-color: var(--c-4);
}

input[type="text"].search:not(:placeholder-shown) {
	background-color: var(--c-5);
}

.pres {
	margin-bottom: 6px;
}

.segin {
	padding: 8px 8px 4px 8px;
	display: none;
}

.expanded {
	display: block;
}

.c {
	text-align: center;
}

.po2 {
	display: none;
	margin-top: 8px;
}

.pwarn {
	color: red;
}

.hrz {
  width: auto;
  height: 2px;
  background-color: var(--c-b);
}

::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--c-sb);
	opacity: 0.2;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--c-sbh);
}

@media all and (max-width: 335px) {
	.sliderbubble {
    display: none;
  }
}

@media all and (max-width: 550px) and (min-width: 374px) {
	.infobtn {
		width: 155px;
	}
}

@media all and (max-width: 685px) {
	.top button {
		width: 16.6%;
		padding: 8px 0 4px 0;
	}
	.hd {
		display: none !important;
	}
	#briwrap {
		margin-top: 0px !important;
		float: none;
	}
}

@media all and (max-width: 1249px) {
	#buttonPcm {
	display: none;
	}
}
