body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background: #222;
  color: #fff;
  line-height: 200%;
  margin: 0;
}
hr {
  border-color: #666;
}
button {
  background: #333;
  color: #fff;
  font-family: Verdana, sans-serif;
  border: 0.3ch solid #333;
	border-radius: 24px;
  display: inline-block;
  font-size: 20px;
  margin: 12px 8px 8px;
  padding: 8px 12px;
  min-width: 48px;
}
.toprow {
  top: 0;
  position: sticky;
  background-color:#222;
  z-index:1;
}
.helpB {
  text-align: left;
  position: absolute;
  width: 60px;
}
input {
  background: #333;
  color: #fff;
  font-family: Verdana, sans-serif;
  border: 0.5ch solid #333;
}
input[type="number"] {
  width: 4em;
  font-size: medium;
  margin: 2px;
}
select {
  margin: 2px;
  font-size: medium;
}
input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
}
select {
  background: #333;
  color: #fff;
  font-family: Verdana, sans-serif;
  border: 0.5ch solid #333;
}
td {
  padding: 2px;
}
.d5 {
  width: 4.5em !important;
}
