body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background: #222;
  color: #fff;
  line-height: 200%%; /* %% because of AsyncWebServer */
  margin: 0;
}
hr {
  border-color: #666;
}
button {
  background: #333;
  color: #fff;
  font-family: Verdana, sans-serif;
  border: 0.3ch solid #333;
  display: inline-block;
  font-size: 20px;
  margin: 8px;
  margin-top: 12px;
  cursor: pointer;
}
.helpB {
  text-align: left;
  position: absolute;
  width: 60px;
}
input {
  background: #333;
  color: #fff;
  font-family: Verdana, sans-serif;
  border: 0.5ch solid #333;
}
input[type="number"] {
  width: 4em;
  margin: 2px;
}
input[type="number"].xxl {
  width: 100px;
}
input[type="number"].big {
  width: 85px;
}
input[type="number"].med {
  width: 55px;
}
input[type="number"].small {
  width: 40px;
}
input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
}
select {
  background: #333;
  color: #fff;
  font-family: Verdana, sans-serif;
  border: 0.5ch solid #333;
}
td {
  padding: 2px;
}
.d5 {
  width: 4.5em !important;
}
