body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background: #222;
  color: #fff;
  line-height: 200%;
  margin: 0;
}
hr {
  border-color: #666;
}
button {
  background: #333;
  color: #fff;
  font-family: Verdana, sans-serif;
  border: 0.3ch solid #333;
  display: inline-block;
  font-size: 20px;
  margin: 8px;
  margin-top: 12px;
}
.helpB {
  text-align: left;
  position: absolute;
  width: 60px;
}
input {
  background: #333;
  color: #fff;
  font-family: Verdana, sans-serif;
  border: 0.5ch solid #333;
}
input[type="number"] {
  width: 4em;
}
select {
  background: #333;
  color: #fff;
  font-family: Verdana, sans-serif;
  border: 0.5ch solid #333;
}
td {
  padding: 2px;
}
.d5 {
  width: 4.5em !important;
}
