[platformio]
default_envs = d1_mini
; default_envs = esp32dev

[env:esp32dev]
board = esp32dev
platform = espressif32@3.2
build_unflags = ${common.build_unflags}
build_flags =
    ${common.build_flags_esp32} 
    -D USERMOD_MODE_SORT
    -D USERMOD_FOUR_LINE_DISPLAY -D FLD_PIN_SCL=22 -D FLD_PIN_SDA=21
    -D USERMOD_ROTARY_ENCODER_UI -D ENCODER_DT_PIN=18 -D ENCODER_CLK_PIN=5 -D ENCODER_SW_PIN=19  
    -D USERMOD_AUTO_SAVE -D AUTOSAVE_PRESET_NUM=1
    -D LEDPIN=16 -D BTNPIN=13
upload_speed = 460800
lib_ignore =
  ESPAsyncTCP
  ESPAsyncUDP

[env:d1_mini]
board = d1_mini
platform = ${common.platform_wled_default}
platform_packages = ${common.platform_packages}
upload_speed = 460800
board_build.ldscript = ${common.ldscript_4m1m}
build_unflags = ${common.build_unflags}
build_flags =
    ${common.build_flags_esp8266} 
    -D USERMOD_MODE_SORT
    -D USERMOD_FOUR_LINE_DISPLAY -D FLD_PIN_SCL=5 -D FLD_PIN_SDA=4
    -D USERMOD_ROTARY_ENCODER_UI -D ENCODER_DT_PIN=12 -D ENCODER_CLK_PIN=14 -D ENCODER_SW_PIN=13
    -D USERMOD_AUTO_SAVE -D AUTOSAVE_PRESET_NUM=1
    -D LEDPIN=3 -D BTNPIN=0
monitor_filters = esp8266_exception_decoder

[env]
lib_deps =
    fastled/FastLED @ 3.3.2
    NeoPixelBus @ 2.6.0
    ESPAsyncTCP @ 1.2.0
    ESPAsyncUDP
    AsyncTCP @ 1.0.3
    IRremoteESP8266 @ 2.7.3
    https://github.com/lorol/LITTLEFS.git
    https://github.com/Aircoookie/ESPAsyncWebServer.git @ ~2.0.0
    U8g2@~2.27.2
    Wire
